/*----------  Variables  ----------*/
:root {
  --bg-primary: #dbf3f1;
  --bg-secondary: #bce1f3;
  --primary: #224056;
  --secondary: #49c2b9;
}


/*----------  fonts  ----------*/
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


/*----------  Global Styles  ----------*/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
}


/*=============================================
=            HomePage            =
=============================================*/

.homepage {
  height: 100vh;
  background-color: #f6fcfb;
  background-image: url('/images/svg/bg-binary.svg');
  background-size: cover;
}

.owl-theme .item {
  height: 550px;
}

/*----------  Login Slide  ----------*/
.login-slide {
  padding-top: 10%;
  text-align: center;
}

.login-slide-text-content {
  font-size: 28px;
}

.login-buttons {
  margin-top: 24px;
}

.login-button {
  font-size: 16px;
  border: none;
  color: #eee;
  background-color: #224056;
  padding: 8px 72px;
  margin: 18px;
  box-shadow: 0 6px 10px 2px #ccc;
}

.login-button:hover {
  box-shadow: 0 6px 10px 2px #49c2b9;
}

@media screen and (max-width: 768px) {
  .login-slide {
    padding-top: 30%;
  }

  .login-slide-text-content {
    font-size: 20px;
  }

  .login-button {
    font-size: 14px;
    padding: 8px 32px;
    margin: 18px 16px;
  }
}


/*----------  Top Performers slid  ----------*/
.top-performers-content-container {
  color: var(--primary);
  font-family: Rubik, sans-serif;
  padding-top: 8%;
  text-align: center;
}

#top-performers-prize-img {
  height: 300px;
}

.top-performers-text {
  font-size: 48px;
  font-weight: 500;
}

.contest-details {
  font-size: 28px;
}

.top-performer-name {
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .top-performers-content-container {
    padding-top: 4%;
  }

  #top-performers-prize-img {
    height: 200px;
  }

  .top-performers-text {
    font-size: 36px;
  }

  .contest-details {
    font-size: 22px;
  }

  .top-performer-name {
    font-size: 20px;
  }
}


/*----------  Contest Slide  ----------*/
.contest-slide {
  padding-top: 5%;
  text-align: center;
  color: #444;
}

.contest-box-container {
  display: inline-block;
  border: 7px solid #777;
  margin: auto;
  padding: 24px 72px;
  border-radius: 15px;
}

.contest-title {
  font-size: 48px;
  font-weight: bold;
}

.contest-subtitle {
  font-size: 24px;
}

.contest-timing {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
}

.register-button {
  font-size: 18px;
  border: none;
  color: #eee;
  background-color: #224056;
  padding: 8px 72px;
  margin: 18px;
  box-shadow: 0 6px 10px 2px #ccc;
}

.register-button:hover {
  box-shadow: 0 6px 10px 2px #49c2b9;
}

@media screen and (max-width: 768px) {
  .contest-slide {
    padding-top: 20%;
  }

  .contest-box-container {
    width: 100%;
    box-sizing: border-box;
    border: 5px solid #777;
    padding: 16px 20px;
    border-radius: 10px;
  }

  .contest-title {
    font-size: 32px;
  }

  .contest-subtitle {
    font-size: 18px;
  }

  .contest-timing {
    margin-top: 8px;
    font-size: 18px;
  }

  .register-button {
    font-size: 16px;
    padding: 6px 48px;
    margin: 18px;
  }
}


/*=====  End of HomePage  ======*/


/*=============================================
=            Navbar            =
=============================================*/

.navbar .navbar-logo {
  font-family: 'Rubik', sans-serif;
}

.navbar .navbar-toggler {
  border-color: none;
}

.navbar a {
  color: #224056;
  font-size: 18px;
}

.navbar a:hover {
  color: var(--secondary);
}

.navbar .navbar-brand {
  font-size: 26px;
  font-weight: 600;
  margin-left: 18px;
  margin-right: 18px;
}

.navbar .nav-link {
  font-size: 20px;
  font-weight: 500;
  margin-left: 18px;
  margin-right: 18px;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAS0lEQVRoge3WoRGAMAADwJZJu0QlCtkluiksAIfhGsG/jUlcSgEAcupT0PZxrizyZh79tuu2usjXDACAJF8ozQAASPKF0gwAAP7sAvoWDBbvdnE+AAAAAElFTkSuQmCC");
}

@media screen and (max-width: 768px) {
  .navbar .nav-link {
    font-size: 16px;
  }
}

/*=====  End of Navbar  ======*/


/*=============================================
=            Footer            =
=============================================*/

.footer {
  background: #ffffffaa;
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  padding: 30px 18px;
}

/*=====  End of Footer  ======*/