/*----------  Variables  ----------*/
:root {
  --bg-primary: #dbf3f1;
  --bg-seondary: #bce1f3;
  --primary: #224056;
}


/*----------  fonts  ----------*/
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


/*----------  Global Styles  ----------*/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: var(--bg-primary);
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}


/*=============================================
=            HomePage            =
=============================================*/

.homepage {
  height: 100vh;
}

.owl-theme .item {
  height: 550px;
}

/*=====  End of HomePage  ======*/


/*=============================================
=            Navbar            =
=============================================*/

.navbar .navbar-logo {
  font-family: 'Rubik', sans-serif;
}

.navbar .navbar-toggler {
  border-color: none;
}

.navbar a {
  color: #224056;
  font-size: 18px;
}

.navbar .navbar-brand {
  font-size: 26px;
  font-weight: 600;
  margin-left: 18px;
  margin-right: 18px;
}

.navbar .nav-link {
  font-size: 20px;
  font-weight: 500;
  margin-left: 18px;
  margin-right: 18px;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAS0lEQVRoge3WoRGAMAADwJZJu0QlCtkluiksAIfhGsG/jUlcSgEAcupT0PZxrizyZh79tuu2usjXDACAJF8ozQAASPKF0gwAAP7sAvoWDBbvdnE+AAAAAElFTkSuQmCC");
}

/*=====  End of Navbar  ======*/


/*=============================================
=            Footer            =
=============================================*/

.footer {
  background: #ffffffaa;
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  padding: 30px 18px;
}

/*=====  End of Footer  ======*/

/*______________________________________________________________________________________________________________________________*/
             /* Contest Slide */

.Rectangle-Copy {
  width: 245px;
  height: 57px;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: #224056;
  border-radius:5%;
}
.CodeText {
 
  font-family: Rubik;  
  font-weight: 600;
  color: #4a4a4a;
  font-size:55px;
  
}
.contest-body{
  width: 700px;
  height: 430px;
  border:9px solid rgba(0, 0, 0, 0.49);
  border-radius:5%;
  margin:0 auto;
  text-align: center;

}
.week12{
  font-family: Rubik;  
  font-weight: 600;
  color: #4a4a4a;
  font-size:35px;
}
.StartDate {
  
  font-family: Rubik;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #4a4a4a;
}

.Register{
  text-align:center;
  color:white;
  font-size:24px;
  height:23px;
  font-family: Rubik;
}
/* -------------End Contest Slide--------------*/